:root {
	--primary: #1d1c1d;
	--secondary: #3e3c3d;
	--white: #f5f5f5;
	--background: #dad9d4;
}

@font-face {
	font-family: 'BG light';
	src: url('/static/fonts/BrandonGrotesque-Light.eot');
	src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
		url('/static/fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/BrandonGrotesque-Light.woff2') format('woff2'),
		url('/static/fonts/BrandonGrotesque-Light.woff') format('woff'),
		url('/static/fonts/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BG medium';
	src: url('/static/fonts/BrandonGrotesque-Medium.eot');
	src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
		url('/static/fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
		url('/static/fonts/BrandonGrotesque-Medium.woff') format('woff'),
		url('/static/fonts/BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Title Bold';
	src: url('/static/fonts/conglomeratebold.woff2');
	src: local('Conglomerate Bold'), local('Conglomerate-Bold'),
		url('/static/img/conglomeratebold.woff2') format('woff2'),
		url('/static/fonts/conglomeratebold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Title Book';
	
	src: url('/static/fonts/conglomeratebook.woff2');
	src: local('Conglomerate Book'), local('Conglomerate-Book'),
		url('/static/fonts/conglomeratebook.woff2') format('woff2'),
		url('/static/fonts/conglomeratebook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}
*::-webkit-input-placeholder { color: #999; }
*:-moz-placeholder { color: #999; }
*::-moz-placeholder { color: #999; }
*:-ms-input-placeholder { color: #999; }
::-webkit-validation-bubble-message { display: none; }
*:focus, *:active, *:hover { outline: none; }


html,
body {
	padding: 0;
	margin: 0;
	font-family: "BG Medium", "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {
	max-width: 60em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BG medium';
	font-weight: 500;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:hover, a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 3em;
}

main {
	padding-bottom: 2em;
  margin: 0 auto;
  z-index: 1;
}

main :first-child,
main > article :first-child {
	/*margin-top: 0;*/
	text-transform: uppercase;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}
.btn {
  color: var(--primary);
  cursor: pointer;
  padding: .8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 2px white solid;
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(255, 255, 255, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.btn:before, .btn:after {
  border: 2px white solid;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.btn:before {
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1 1 0 1;
  right: -0.6em;
  top: .14em;
  width: .30em;
  height: 100%;
  transform: skewY(45deg);
}
.btn:after {
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1  1 1;
  bottom: -0.55em;
  left: 0.15rem;
  width: 99%;
  height: .3em;
  transform: skewX(45deg);
}
.btn:hover {
  background-size: 90%;
  transform: translate(-0.5em, -0.5em);
  box-shadow: 1em 1em 0.5em rgba(255, 255, 255, 0.2);
}
.btn:hover:before {
  background-color: var(--primary);
  height: calc(100% - .16em);
}
.btn:hover:after {
  background-color: var(--primary);
  width: calc(100% - .16em);
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 3.5em;
	margin: 0;
	padding: 	.05em .5em;
	font-family: 'Title Bold';
	font-style: normal;
	position: fixed;
	border: 1px solid;
}

/* Header Nav */
header nav ul {
	list-style: none;
	width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 0 auto;
	padding: 0;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav ul :last-child {
	border-right: 1px solid;
}

header nav li {
	margin: 0;
  width: 100%;
  border: 1px solid;
	border-right: 0;
  padding: .25rem;
  text-align: center;
  text-transform: uppercase;
}

header nav li[data-current="current item"] {
	background-color: rgba(255, 255, 255, 0.25);
}

header nav li a {
  font-family: 'Title Book', serif;
	width: 100%;
	border: 0 !important;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

.nav-btn {
  color: var(--primary);
  cursor: pointer;
  padding: .2rem .5rem;
  margin: 0 1rem;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 2px var(--primary) solid;
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(255, 255, 255, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.nav-btn:before, .nav-btn:after {
  border: 2px var(--primary) solid;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.nav-btn:before {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 0 1;
  right: -0.4em;
  top: 0.1rem;
  width: 0.4em;
  height: 112%;
  transform: skewY(45deg);
}
.nav-btn:after {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 1 1;
  bottom: -.45em;
  left: .09rem;
  width: 101%;
  height: .45em;
  transform: skewX(45deg);
}
.nav-btn:hover {
	background-color: #76959c;
  background-size: 90%;
  transform: translate(-0.5em, -0.5em);
  box-shadow: 1em 1em 0.5em rgba(0, 0, 0, 0.2);
}
.nav-btn:hover:before {
  background-color: var(--primary);
  /*height: calc(100% - .16em);*/
}
.nav-btn:hover:after {
  background-color: var(--primary);
  /*width: calc(100% - .16em);*/
}

.pl-form fieldset{
	display: flex;
	border: 0;
}
.pl-form p {
	font-size: 3rem;
  padding: 0 2rem;
	margin: 15px 0;
}

.pl-select {
	font-size: 4rem;
  height: 5rem;
	margin: 10px 0;
	padding: 0 1rem;
	background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
	appearance: none;
}

.pl-select option {
	font-size: 2.5rem;
}

#link {
	font-family: "BG Light",Avenir,"Avenir Next",sans-serif;
	font-size: 4rem;
  width: unset;
	height: 6rem;
	margin: 0 15px;
	padding: 10px;
	
	border: 2px solid var(--primary);
}

.link-btn {
	background-color: #637668;
  color: var(--primary);
  cursor: pointer;
  padding: .8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 2px white solid;
  border-image: linear-gradient(45deg,var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  box-shadow: 0.25em 0.25em rgba(255, 255, 255, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.link-btn:before, .link-btn:after {
  border: 2px var(--primary) solid;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.link-btn:before {
  border-image: linear-gradient(45deg, var(--primary), var(--primary) 100%);
  border-image-slice: 1 1 0 1;
  right: -.15em;
  top: .04em;
  width: .15em;
  height: 104%;
  transform: skewY(45deg);
}
.link-btn:after {
  border-image: linear-gradient(45deg,var(--primary) 0%,var(--primary) 100%);
  border-image-slice: 1  1 1;
  bottom: -0.15em;
  left: 0.18rem;
  width: 101%;
  height: .15em;
  transform: skewX(45deg);
}
.link-btn:hover {
  background-size: 90%;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
.link-btn:hover:before {
  background-color: var(--primary);
}
.link-btn:hover:after {
  background-color: var(--primary);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "BG Light","Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

#quote-wave {
	position: absolute;
  font-size: 14px;
  white-space: pre;
  cursor: default;
  width: 1500px;
	height: 100%;
  margin: 0 auto;
	opacity: .35;
	pointer-events: none;
  overflow: hidden;
}

.circle-path {
  fill: none;
  pointer-events: none;
}

.circle-path-text {
  font-family: "Brandon Grotesque";
  font-size: 3rem;
  pointer-events: none;
}

#moment {
	-webkit-animation: colorchange 20s infinite alternate;
					animation: colorchange 2s infinite alternate;
    }

    @-webkit-keyframes colorchange {
      0% { color: #b18965; }
			10% { color: #637668; }
			30% { color: #026e47; }
			40% { color: #0e4033; }
			50% { color: #183840; }
			70% { color: #76959c; }
      80% { color: #05223c; }
			100% { color: #dbd4c9; }
    }