@import "node_modules/select2/src/scss/core";

:root {
  --primary: #1d1c1d;
  --secondary: #3e3c3d;
  --white: #f5f5f5;
  --background: #ede2cd;
  --startColor: rgba(115, 149, 156, 1);
  --stopColor: rgba(99, 118, 104, 1);
}

@font-face {
  font-family: "BG light";
  src: url("/static/fonts/BrandonGrotesque-Light.eot");
  src: local("Brandon Grotesque Light"), local("BrandonGrotesque-Light"),
    url("/static/fonts/BrandonGrotesque-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/static/fonts/BrandonGrotesque-Light.woff2") format("woff2"),
    url("/static/fonts/BrandonGrotesque-Light.woff") format("woff"),
    url("/static/fonts/BrandonGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BG medium";
  src: url("/static/fonts/BrandonGrotesque-Medium.eot");
  src: local("Brandon Grotesque Medium"), local("BrandonGrotesque-Medium"),
    url("/static/fonts/BrandonGrotesque-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/static/fonts/BrandonGrotesque-Medium.woff2") format("woff2"),
    url("/static/fonts/BrandonGrotesque-Medium.woff") format("woff"),
    url("/static/fonts/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Title Bold";
  src: url("/static/fonts/conglomeratebold.woff2");
  src: local("Conglomerate Bold"), local("Conglomerate-Bold"),
    url("/static/img/conglomeratebold.woff2") format("woff2"),
    url("/static/fonts/conglomeratebold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Title Book";
  src: url("/static/fonts/conglomeratebook.woff2");
  src: local("Conglomerate Book"), local("Conglomerate-Book"),
    url("/static/fonts/conglomeratebook.woff2") format("woff2"),
    url("/static/fonts/conglomeratebook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
*::-webkit-input-placeholder {
  color: #999;
}
*:-moz-placeholder {
  color: #999;
}
*::-moz-placeholder {
  color: #999;
}
*:-ms-input-placeholder {
  color: #999;
}
::-webkit-validation-bubble-message {
  display: none;
}
*:focus,
*:active,
*:hover {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "BG light", "Avenir", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  width: 100vw;
	overflow-x: hidden;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  background-image: url(https://offair.netlify.app/static/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Title Book", serif;
  /*font-weight: 500;*/
}

p, pre, code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: var(--primary);
  transition: all .2s linear;
}

a[href]:hover,
a[href]:not(:hover) {
  text-decoration: none;
}
a[href]:hover {
  color: rgba(32, 77, 98, 1.00);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header, main, footer {
  padding: 1em;
}

footer {
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 1em 1em;
  flex-flow: column;
}
@media only screen and (min-width: 768px) {
  header, main {
    padding: 2em 2em 3em;
  }
  footer { flex-flow: row;}
}
@media only screen and (min-width: 1170px) {
  header, main, footer {
    padding: 3em 3em 4em;
  }
}

main {
  max-width: 1200px;
  margin: 200px auto 0;
  padding-bottom: 2em;
  z-index: 1;
}

main :first-child,
main > article :first-child {
  /*margin-top: 0;
  text-transform: capitalize;*/
}
@media (max-width: 767.98px) {
  main {
    max-width: 98vw;
    margin: 200px auto 0;
  }
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}
.btn {
  color: var(--primary);
  cursor: pointer;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 2px white solid;
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(255, 255, 255, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.btn:before,
.btn:after {
  background-color: var(--background);
  border: 2px white solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.btn:before {
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1 1 0 1;
  right: -0.6em;
  top: 0.14em;
  width: 0.3em;
  height: 100%;
  transform: skewY(45deg);
}
.btn:after {
  border-image: linear-gradient(45deg, white 0%, white 100%);
  border-image-slice: 1 1 1;
  bottom: -0.55em;
  left: 0.15rem;
  width: 99%;
  height: 0.3em;
  transform: skewX(45deg);
}
.btn:hover {
  background-size: 90%;
  transform: translate(-0.5em, -0.5em);
  box-shadow: 1em 1em 0.5em rgba(255, 255, 255, 0.2);
}
.btn:hover:before {
  background-color: var(--primary);
  height: calc(100% - 0.16em);
}
.btn:hover:after {
  background-color: var(--primary);
  width: calc(100% - 0.16em);
}
.content {
  z-index: 5;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  /*background: -moz-linear-gradient(180deg, rgba(218,217,212,1) 0%, rgba(218,217,212,1) 48%, rgba(218,217,212,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(218,217,212,1) 0%, rgba(218,217,212,1) 48%, rgba(218,217,212,0) 100%);
  background: linear-gradient(180deg, rgba(218,217,212,1) 0%, rgba(218,217,212,1) 48%, rgba(218,217,212,0) 100%);*/
}
/* Header Logo (style as h2) */
.logo{
  display: block;
  font-size: 2.5em;
  margin: 0;
  padding: 0.5em 0.5em;
  font-family: "Title Bold";
  font-style: normal;
  position: fixed;
  top: 0;
  left: calc(50% - 88px);
  text-align: center;
	line-height: .8em;
  z-index: 5;
}
a[href].logo-link {
  color: var(--background);
  z-index: 5;
}
@media (max-width: 767.98px) {
  .logo{
    top: 20px;
    left: 50px;
  }
}
@media only screen and (min-width: 1070px) {
  .logo{
    font-size: 3em;
  }
}

/* Header Nav */
header nav ul {
  list-style: none;
  width: 30%;
  margin: 0 0 10px auto;
  padding: 0;
  display: block;
}
/*header nav ul :first-child {
  margin-left: 0;
}
header nav ul :last-child {
  margin-right: 0;
  border-right: 1px solid;
}
header nav li {
}*/
header nav li a[data-current="current item"] {
  background-color: rgba(115, 149, 156, .75);
}
header nav li a {
  font-family: "BG medium";
  margin: 0;
  width: 100%;
  border: 1px solid;
  border-right: 0;
  padding: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}
header nav li a[href]:not(:hover) {
  text-decoration: none;
}
@media only screen and (min-width: 769px) {
  header nav ul {
    list-style: none;
    width: 100%;
    margin: 0 0 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: auto;
    grid-column-gap: 1%;
    grid-row-gap: 0px;
  }

}
.nav-btn {
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(199, 199, 199, .80);
  border: 2px var(--primary) solid;
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  transform-origin: left bottom;
  -webkit-transition: transform 200ms ease-in-out,
    background-color 300ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out,
    background-color 300ms ease-in-out;
  -o-transition: transform 200ms ease-in-out, background-color 300ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 300ms ease-in-out;
}
.nav-btn:before,
.nav-btn:after {
  background-color: var(--background);
  border: 2px var(--primary) solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.nav-btn:before {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 0 1;
  right: -0.4em;
  top: 0.1rem;
  width: 0.4em;
  height: 112%;
  transform: skewY(45deg);
}
.nav-btn:after {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 1 1;
  bottom: -0.45em;
  left: 0.09rem;
  width: 100.5%;
  height: 0.45em;
  transform: skewX(45deg);
}
.nav-btn:hover {
  background-color: #76959c;
  background-size: 90%;
  transform: translate(-0.5em, -0.5em);
  box-shadow: 1em 1em 0.5em rgba(0, 0, 0, 0.2);
}
.nav-btn:hover:before {
  background-color: var(--primary);
  height: 111%;
  /*height: calc(100% - .16em);*/
}
.nav-btn:hover:after {
  background-color: var(--primary);
  /*width: calc(100% - .16em);*/
}
.nav-offair {
  visibility: hidden;
}
@media (max-width: 767.98px) {
  header { padding: .85em; }
  header nav ul { flex-flow: column; }
  header nav ul :first-child { margin-top: 0; }
  .nav-offair { display: none; }
  .nav-btn {
    margin: .95em 0;
    font-size: 0.79rem;
    padding: 0 .2rem;
  }
}
/*
@media only screen and (min-width: 1170px) {
  header nav ul {
    width: calc(100% - 300px);
  }
}*/

.pl-form fieldset {
  display: flex;
  border: 0;
}
.pl-form p {
  font-size: 3rem;
  padding: 0 2rem;
  margin: 15px 0;
}

.pl-select {
  font-family: "BG Light";
  font-size: 3rem;
  width: 100%;
  margin-top: 0;
  padding: 10px;
  background-color: transparent;
  border: 0;
  appearance: none;
  text-align: center;
  cursor: pointer;
}

.pl-select option {
  font-size: 1.25rem;
}

.pl-selects {
  font-size: 3.25rem;
  background-color: #73959c;
  color: var(--primary);
  width: 100%;
  padding: 0;
  margin: 0 1rem;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 2px white solid;
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  box-shadow: 0.25em 0.25em rgba(255, 255, 255, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.pl-selects:before,
.pl-selects:after {
  background-color: var(--background);
  border: 2px var(--primary) solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.pl-selects:before {
  border-image: linear-gradient(45deg, var(--primary), var(--primary) 100%);
  border-image-slice: 1 1 0 1;
  right: -0.16em;
  top: 0.04em;
  width: 0.15em;
  height: 105%;
  transform: skewY(45deg);
}
.pl-selects:after {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 1;
  bottom: -.16em;
	left: .15rem;
  width: 101%;
  height: 0.15em;
  transform: skewX(45deg);
}
.pl-selects:hover {
  background-size: 90%;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
.pl-selects:hover:before {
  background-color: var(--primary);
  right: -0.16em;
	top: .04em;
	width: .14em;
	height: 102%;
}
.pl-selects:hover:after {
  background-color: var(--primary);
  bottom: -.15em;
	left: .14rem;
	width: 101%;
	height: .13em;
}
.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.select2-container .select2-selection--single {
	height: 4rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 4.5rem;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
	padding-right: 0;
}

.link-btn {
  color: var(--primary);
  background-color: #637668;
  font-size: 3.25rem;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  align-self: center;
  border: 2px white solid;
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 0 0 1;
  z-index: 1;
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.link-btn:before,
.link-btn:after {
  background-color: var(--background);
  border: 2px var(--primary) solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.link-btn:before {
  border-image: linear-gradient(45deg, var(--primary), var(--primary) 100%);
  border-image-slice: 1 1 0 1;
  right: -0.16em;
  top: 0.04em;
  width: 0.15em;
  height: 101%;
  transform: skewY(45deg);
}
.link-btn:after {
  border-image: linear-gradient(45deg, var(--primary) 0%, var(--primary) 100%);
  border-image-slice: 1 1 1;
  bottom: -.16em;
	left: .17rem;
  width: 101%;
  height: 0.15em;
  transform: skewX(45deg);
}
.link-btn:hover {
  background-size: 90%;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
.link-btn:hover:before {
  background-color: var(--primary);
  right: -0.16em;
	top: .04em;
	width: .14em;
	height: 102%;
}
.link-btn:hover:after {
  background-color: var(--primary);
  bottom: -.15em;
	left: .12rem;
	width: 101%;
	height: .13em;
}
.link-select {
  font-size: 3rem;
  width: 100%;
  margin: 0px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .pl-form fieldset {
    flex-flow: wrap;
    justify-content: space-around;
  }
  .pl-selects {
    margin: 1rem 1rem;
  }
  .pl-form p {
    font-size: 4rem;
    padding: 0 1rem;
  }
  #link {	margin: 20px; }
  .link-btn:before {
    right: -.14em;
    top: .03em;
    width: .15em;
    height: 106%;
  }
  .link-btn:after {
    bottom: -.16em;
    left: .17rem;
    width: 102%;
    height: .15em;
  }
}

.social-link {
  padding-right: 1rem;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}
article .article-title {
  font-family: "Title Bold";
  font-size: 2.5rem;
	margin: .25rem 0;
}
article .article-date {
  text-transform: uppercase;
  opacity: .5;
}
article .article-social {
  padding: 0 5px;
}
article a {
  font-family: "BG medium", sans-serif;
  text-transform: uppercase;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 8px .5em;
	margin-bottom: 1em;
	font-size: .8rem;
  font-family: "BG Light", "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
  border: 1px solid var(--primary);
}

button {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

#quote-wave {
  position: absolute;
  left: 0;
  font-size: 14px;
  white-space: pre;
  cursor: default;
  width: 100vw;
  height:100vh;
  margin: 0 auto;
  opacity: 0.2;
  pointer-events: none;
  overflow: hidden;
}

.circle-path {
  fill: none;
  pointer-events: none;
}

.circle-path-text {
  font-family: "Title Book";
  font-size: 1.5rem;
  pointer-events: none;
}

@-webkit-keyframes colorchange {
  0% { color: #b18965; }
  /*10% { color: #637668; }*/
  30% { color: #026e47; }
  /*40% { color: #0e4033; }*/
  60% { color: #183840; }
  /*70% { color: #76959c; }*/
  100% { color: #637668; }
  /*100% { color: #dbd4c9; }*/
}
.shape {
  opacity: .5;
  z-index: 0;
}

.shape1 {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 2%;
  max-height: 900px;
}
.shape2 {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 20%;
  max-height: 900px;
}
.shape3 {
  width: 25%;
  position: absolute;
  top: 5%;
  right: 25%;
  max-height: 900px;
}
.shape4 {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 5%;
  max-height: 900px;
}

.listen-title {
  font-family: "BG light";
  width: 70vw;
  font-size: 2rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .listen-title {
    width: 60vw;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
  .listen-title {
    font-size: 2rem;
  }
}

.listen-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.listen-words-wrapper b {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.listen-words-wrapper b.is-visible {
  position: relative;
}
.no-js .listen-words-wrapper b {
  opacity: 0;
}
.no-js .listen-words-wrapper b.is-visible {
  opacity: 1;
}
/* --------------------------------

xslide

-------------------------------- */
.listen-title.slide span {
  display: inline-block;
  padding: .2em 0;
}
.listen-title.slide .listen-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.listen-title.slide b {
  opacity: 0;
  top: .2em;
}
.listen-title.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}
.listen-title.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.colourful {
  animation: colorchange 8s infinite; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 8s infinite; /* Chrome and Safari */
  -moz-animation: colorchange 8s infinite;
	-ms-animation: colorchange 8s infinite;
	-o-animation: colorchange 8s infinite;
}

@keyframes colorchange {
  0%   {color: #73959c;}
  25%  {color: #9e9a81;}
  50%  {color: #6f8670;}
  75%  {color: #026e47;}
  100% {color: #4b483b;}
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0%   {color: #73959c;}
  25%  {color: #9e9a81;}
  50%  {color: #6f8670;}
  75%  {color: #026e47;}
  100% {color: #4b483b;}
}

.list-title a {
  font-family: "Title Bold", serif;
  text-transform: capitalize;
}
.list-p {
  margin: 0;
  text-transform: uppercase;
}
.records-container {
	display: flex;
	justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 0;
  flex-wrap: wrap;
}
.records-item {
	width: 30%;
  margin-left: 2rem;
}
@media (max-width: 767.98px) {
  .records-container { margin-left: -1rem;}
  .records-item {
    width: 50%;
    margin-left: 1rem;}
}

.records-link {
  text-transform: uppercase;
}
.record-container {
	display: grid; 
  grid-template-columns: 1fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 2em 2em; 
}
.record-img {
  width: 100%;
}
.events-container {
	display: flex;
	justify-content: flex-start;
  flex-flow: wrap;
  margin-top: 2rem;
}
.events-item {
	width: 45%;
  margin-right: 2rem;
}
@media (max-width: 767.98px) {
  .events-item {
    width: 100%;
    margin-right: 0;
  }
}
.events-featured {
  margin: 0 auto;
  text-align: center;
}
.event-location{
  text-transform: uppercase;
}
.event-ticket {
  background-color: #708772;
  width: 200px;
	font-size: 1.1em;
  font-family: "BG medium";
  text-transform: uppercase !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#shape-blob {
  position: fixed;
  top: -10px;
  left: calc(50% - 125px);
  width: 250px;
  height: 230px;
  z-index: 2;
}
#svg-blob {
  width: 100%;
  height: 100%;
}
#static-shape svg {
  position: absolute;
	top: 25%;
	left: 30%;
	width: 40%;
}
@media (max-width: 767.98px) {
  #shape-blob {
    left: 0;
  }
}
.pl-container {
  text-align: center;
}
.pl-container iframe {
  border: 2px solid var(--primary);
}
.home-menu {
  display: grid;
  grid-template-columns: repeat(3, 12.5%) 25% repeat(3, 12.5%);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 6rem 0;
  justify-content: space-between; 
  justify-items: center; 
  align-items: center; 
}
.home-item {
  padding: 30px;
  text-align: center;
  align-self: center;
}
.home-1 { grid-area: 1 / 1 / 2 / 2; }
.home-2 { grid-area: 1 / 2 / 2 / 3; }
.home-3 { grid-area: 1 / 3 / 2 / 4; }
.home-4 { grid-area: 1 / 4 / 2 / 5; }
.home-5 { grid-area: 1 / 5 / 2 / 6; }
.home-6 { grid-area: 1 / 6 / 2 / 7; }
.home-7 { grid-area: 1 / 7 / 2 / 8; }

.menu-sleep, .menu-focus, .menu-relax {
  width: 80%;
}

.s-player {
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .s-player {
    width:60%;
    height: 200px;
  }
}
#mc_embed_signup p {
  margin: 10px 0;
	font-size: .9rem;
}
#mc-embedded-subscribe-form {
  padding: 0;
}
#mc_embed_signup_scroll {
  display: flex;
}
#mce-EMAIL {
  min-width: 250px;
}
.mc-field-group {
  margin-right: .25em;
}
#mc-embedded-subscribe {
  padding: 8px 40px;
	font-size: .75em;
	text-transform: uppercase;
}

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
div.cssbox {
  display: inline-block;
}

span.cssbox_full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
/* This is the end of CSSBox */

/* FLEXSLIDER */
.flexslider {
	width: 90vw;
  max-width: 1000px;
	margin: 20px auto;
	background-color: rgba(0,0,0,0);
	border: 2px solid #333;
	border-radius: 0;
	box-shadow: none;
}

.flex-direction-nav a {
	background-color: rgba(199,199,199,.8);
	text-decoration: none;
	top: 95%;
	width: 28px;
	height: 28px;
	z-index: 10;
	opacity: 1;
	cursor: pointer;
	color: var(--primary);
	border: 2px solid;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.flex-direction-nav .flex-prev {
	left: 10px;
}
.flex-direction-nav .flex-next {
	right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	background-color: #76959c;
	background-size: 90%;
	opacity: 1;
	transform: translate(-.25em,-.25em);
	box-shadow: 1em 1em 0.5em rgb(0 0 0 / 20%);
}

.flex-direction-nav a:before {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0;
	font-size: 11px;
	line-height: 28px;
	text-shadow: none;
}

.flex-viewport {
	max-height: 90vh;
}

.flexslider .slides img {
	width: 100%;
	height: 90vh;
  object-fit: cover;
	object-position: center;
  object-position: 50% 30%;
}

/* End of FLEXSLIDER */

.bit-widget.bit-layout-desktop .bit-rsvp-container {
  display: none !important;
}