<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.0/flexslider-min.css" integrity="sha512-ZUWwHDCkhRcdPWTAZIGzneefBW7S6jIzhZwZiJrIh/1TSM/TtsL+oyifTfczhp7uBkp6Hqpwu+FKx8YBSkDY0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>body { opacity: 1; transition: 1s opacity; background-image: linear-gradient(160deg, rgba(218, 217, 211, .0), rgba(161, 143, 126, .05), rgba(99, 118, 104, .1)), linear-gradient(15deg, rgba(218, 217, 211, .0),rgba(115, 149, 156, .1), rgba(218, 217, 211, .0)); background-position: 0px 0px, 0px 0px; background-size: cover, cover; background-repeat: no-repeat, no-repeat; background-attachment: fixed,fixed; } .body-content { opacity: 0; transition: 2s opacity;} .body-content.loaded { opacity: 1; transition: 2s opacity;}</style>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-209493270-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-209493270-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '101294461250812');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" 
        src="https://www.facebook.com/tr?id=101294461250812&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>
