<section class="records-container">
	{% for record in recordslist | reverse %}
		<article class="records-item" {% if record.url == url %} data-current="current item"{% endif %}>
			<a href="{{ record.url | url }}">
					{% if record.data.image %}
						<img class="record-thumb" src="{{ record.data.image }}" alt="record thumbnail"/>
					{% else %}
						Untitled
					{% endif %}
			</a>
			<h3 class="list-title">
				<a class="records-link" href="{{ record.url | url }}">
					{% if record.data.title %}
						{{ record.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			 {% if record.data.summary %}
				<p>
					{{ record.data.summary }}
				</p>
			{% endif %}
			<p>
				<small>{{ record.data.year }}</small>
			</p>
		</article>
	{% endfor %}
</section>
