---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<p>
<a class="social-link" target="_blank" href="https://instagram.com/offair"><i class="fab fa-instagram fa-lg"></i></a>
<a class="social-link" target="_blank" href="https://twitter.com/offair"><i class="fab fa-twitter fa-lg"></i></a>
<a class="social-link" target="_blank" href="https://facebook.com/offair"><i class="fab fa-facebook-f fa-lg"></i></a>
<a class="social-link" target="_blank" href="https://open.spotify.com/user/4bky1y9i84itvunr6ri0ranqn?si=V2Mr3PfYTU-SP_Lc7KM04w"><i class="fab fa-spotify fa-lg"></i></i></a>
</p>