<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body {% if section %}class="{{ section }}"{% endif %}>

	<div id="quote-wave"></div>
	<img class="shape shape1" src="https://offair.netlify.app/static/img/shape-01.png" data-parallaxify-range-x="80" data-parallaxify-range-y="100">
	<img class="shape shape2" src="https://offair.netlify.app/static/img/shape-02.png" data-parallaxify-range-x="20" data-parallaxify-range-y="10">
	<img class="shape shape3" src="https://offair.netlify.app/static/img/shape-03.png" data-parallaxify-range-x="5" data-parallaxify-range-y="5">
	<img class="shape shape4" src="https://offair.netlify.app/static/img/shape-04.png" data-parallaxify-range-x="10" data-parallaxify-range-y="30">
	
		<header class="header">
			<em class="logo">
				<a class="logo-link" href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
	</body>

</html>
