<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body {% if section %}class="{{ section }} body-content"{% endif %}>

	<div id="quote-wave"></div>
	<div class="logo-shape" id="shape-blob">
		<svg class="logo-blob" id="svg-blob" viewBox="0 0 1000 1000">
			<defs>
				<linearGradient id="gradient" gradientTransform="rotate(90)">
					<stop id="gradientStop1" offset="0%" stop-color="var(--startColor)" />
					<stop id="gradientStop2 " offset="100%" stop-color="var(--stopColor)" />
				</linearGradient>
			</defs>
			<!--image x="0" y="0" width="100%" height="100%" xlink:href="https://images.unsplash.com/photo-1511804472014-fa7b871cd6a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=1350&q=80" clip-path="url(#blobmasking)" /-->
			<rect x="0" y="0" fill="url(#gradient)" width="100%" height="100%" clip-path="url(#blobmasking)" />
			 <path id="blob2" fill="#4b483b"></path>
			 <path id="blob3" fill="#c7c7c7"></path>
			 <path id="blob4" fill="#9e9a81"></path>
			 <path id="blob" fill="url(#gradient)"></path>
			<clipPath id="blobmasking">
				<path id="blob"></path>
			</clipPath>
		</svg>
	</div>
		<header class="header">
			<em class="logo">
				<a class="logo-link" href="{{ '/' | url }}">OFF<br>AIR</a>
			</em>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
	<script>
    //window.addEventListener('DOMContentLoaded', () => {
      window.onload = function() {
      var mainL = document.querySelectorAll('.body-content');
      for (var i = 0; i < mainL.length; i++) {
        mainL[i].classList.add('loaded');
      }
    }
  </script>
	</body>

</html>
