---
layout: layouts/base.njk
section: generator
---

{{ layoutContent | safe }}

<h1 class="listen-title slide">
			<span>Choose a soundtrack for your</span>
			<span class="listen-words-wrapper colourful">
				<b class="is-visible">Mind.</b>
				<b>Mood.</b>
				<b>Moment.</b>
        <b>activity.</b>
        <b>experience.</b>
			</span>
</h1>

<form action="#" method="post" id="plForm" class="pl-form">
  <button class="pl-selects btn-select"></button>
  <div class="b">
    <ul id="a"></ul>
  </div>
  <select name="category" id="category" class="pl-select categories">
    <option value="hold" selected>?</option>
    <option value="morning" data-thumbnail="https://offair.netlify.app/static/img/morning.png"></option>
    <option value="evening" data-thumbnail="https://offair.netlify.app/static/img/evening.png"></option>
    <option value="sleep" data-thumbnail="https://offair.netlify.app/static/img/sleep.png"></option>
    <option value="focus" data-thumbnail="https://offair.netlify.app/static/img/focus.png"></option>
    <option value="relax" data-thumbnail="https://offair.netlify.app/static/img/relaxation.png"></option>
    <option value="cooking" data-thumbnail="https://offair.netlify.app/static/img/cooking.png"></option>
    <option value="meditation" data-thumbnail="https://offair.netlify.app/static/img/meditation.png"></option>
  </select>
  <p>+</p>
  <button class="pl-selects">
    <select name="choices" id="choices" class="pl-select choices">
      <!-- js populates -->
    </select>
     </button>
    <p>=</p>
    <button type="button" id="link" class="link-btn">Link <span id="result"></span></button>
  </fieldset>
</form>
