---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<h1 class="listen-title">Choose a soundtrack for your <span id="moment">moment</span></h1>

<form action="#" method="post" id="plForm" class="pl-form">
  <fieldset>
    <select name="category" id="category" class="pl-select categories">
      <option value="hold" selected>❓</option>
      <option value="morning">☕</option>
      <option value="evening">🌆</option>
      <option value="sleep">💤</option>
      <option value="focus">⚙️</option>
      <option value="relax">🕯️</option>
      <option value="cooking">👩‍🍳</option>
      <option value="meditation">☮️</option>
    </select>
    <p>+</p>
    <select name="choices" id="choices" class="pl-select choices">
      <!-- js populates -->
    </select>
    <p>=</p>
    <button type="button" id="link" class="link-btn">Link <span id="result"></span></button>
  </fieldset>
</form>
