---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<div class="home-container">
  <div class="home-menu">
    <div class="home-item home-1"><img class="menu-icon" src="static/img/morning.png" alt="morning"/></div>
    <div class="home-item home-2"><img class="menu-icon" src="static/img/evening.png" alt="evening"/></div>
    <div class="home-item home-3"><img class="menu-icon menu-sleep" src="static/img/sleep.png" alt="sleep"/></div>
    <div class="home-4 home-logo"></div>
    <div class="home-item home-5"><img class="menu-icon menu-focus" src="static/img/focus.png" alt="focus"/></div>
    <div class="home-item home-6"><img class="menu-icon" src="static/img/relaxation.png" alt="relax"/></div>
    <div class="home-item home-7"><img class="menu-icon menu-relax" src="static/img/cooking.png" alt="cooking"/></div>
  </div>
  <div class="pl-container">
    <iframe src="https://open.spotify.com/embed/playlist/1m6drKcvY3d8ScLJTE1zd3" width="60%" height="200" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>