---
layout: layouts/base.njk
section: post
---

<article>
  <h1 class="article-title">{{ title }}</h1>
  <p class="article-location">{{ location }}</p>
  <p class="article-date">
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> 
    </small>
  </p>

  {{ layoutContent | safe }}

  <p>
    <a href="https://www.instagram.com/{{ instagram }}" rel="instagram" class="article-social ig-link"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="{{ spotify }}" rel="spotify" class="article-social spotify-link"><i class="fab fa-spotify fa-2x"></i></a>
  </p>

  {#{% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}#}
  <div class="flexslider left">
    <ul class="slides">
      <li>
        <img src="{{ imgSrc }}" alt="{{ imgTitle }}">
        <div class="meta">
          <h2>{{ imgDesc }}</h2>
        </div>
      </li>
    </ul>
  </div>

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Events index</a>
</nav>
