---
layout: layouts/base.njk
section: post
---

<article>
  <h1 class="article-title">{{ title }}</h1>
  <p class="article-date">
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> 
    </small>
  </p>

  {{ layoutContent | safe }}
  
  {% if instagram %}
    <p>
      <a href="https://www.instagram.com/{{ instagram }}" rel="instagram"><i class="fab fa-instagram fa-2x"></i></a>
    </p>
  {% endif %}
  {% if twitter%}
    <p>
      <a href="https://www.twitter.com/{{ twitter }}" rel="twitter"><i class="fab fa-twitter fa-2x"></i></a>
    </p>
  {% endif %}
  {#{% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}#}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Events index</a>
</nav>
