---
layout: layouts/base.njk
section: record
---

<article>
  <figure class="record-container">
  <img class="record-img" src="{{ image }}" alt="record image" />
  <figcaption>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}
  <p>
    <small>
      Released {{ year }}
    </small>
  </p>
  </figcaption>
  </figure>
</article>

<nav>
  <a href="{{ '/records/' | url }}">← Index</a>
</nav>
