---
layout: layouts/base.njk
section: record
---

<article>
  <figure class="record-container">
  <img class="record-img" src="{{ image }}" alt="record image" />
  <figcaption>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}
  <p>
    <a href="https://www.instagram.com/{{ instagram }}" rel="instagram" class="article-social ig-link"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="{{ spotify }}" rel="spotify" class="article-social spotify-link"><i class="fab fa-spotify fa-2x"></i></a>
  </p>
  <p>
    <small>
      Released {{ year }}
    </small>
  </p>
  </figcaption>
  </figure>
</article>

<nav>
  <a href="{{ '/records/' | url }}">← Index</a>
</nav>
