---
layout: layouts/base.njk
section: record
---

<article>
  <figure class="record-container">
  <img class="record-img" src="{{ image }}" alt="record image" />
  <figcaption>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}
  <p>
    <small>
      Release Date <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> 
    </small>
  </p>
  </figcaption>
  {#{% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "records" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}#}
  </figure>
</article>

<nav>
  <a href="{{ '/records/' | url }}">← Index</a>
</nav>
