---
layout: layouts/base.njk
section: shows
permalink: /shows/index.html
---
<h2>Archive</h2>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
