---
layout: layouts/base.njk
section: shows
permalink: /shows/index.html
---
<h2>Upcoming</h2>
{{ layoutContent | safe }}
<h2>Archive</h2>

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
